$breakpoint: 600px;

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;

  &:hover {
    opacity: 0.8;
  }

  &__1,
  &__2,
  &__7 {
    grid-column: 1/3;
  }

  &__2 {
    grid-row: 3/4;
  }

  &__3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  &__4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  &__5 {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  &__6 {
    grid-column: 1/2;
    grid-row: 6/7;
  }

  &__7 {
    grid-row: 4/5;
  }

  &__8 {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  &__9 {
    grid-column: 2/3;
    grid-row: 6/7;
  }

  @media (min-width: $breakpoint) {
    &__1 {
      grid-column: 1/3;
      grid-row: 1/3;
    }

    &__2 {
      grid-column: 3/5;
      grid-row: 1/2;
    }

    &__3 {
      grid-column: 3/4;
      grid-row: 2/3;
    }

    &__4 {
      grid-column: 4/5;
      grid-row: 2/3;
    }

    &__5 {
      grid-column: 1/2;
      grid-row: 3/5;
    }

    &__6 {
      grid-column: 1/2;
      grid-row: 5/6;
    }

    &__7 {
      grid-column: 2/4;
      grid-row: 3/6;
    }

    &__8 {
      grid-column: 4/5;
      grid-row: 3/5;
    }

    &__9 {
      grid-column: 4/5;
      grid-row: 5/6;
    }
  }
}
